<!hiIIII>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
</form> 


<html>
    <head>
        <title>Django Girls blog</title>
    </head>


    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>


	{% for post in posts %}

    		<article>
        	<time>published: {{ post.published_date }}</time>
        	<h2><a href="">{{ post.title }}</a></h2>
        	<p>{{ post.text|linebreaksbr }}</p>

    		</article>
	{% endfor %}


    </body>
</html>